#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color:"blue";
}

#overlay + div {
     background-color: #fff;
     border:1px solid #000;
     text-align:center;
}

body {
     height:100%;
     margin:0;
     padding:0;
}

#addform{
    width: 40%;
    margin: 0 auto;
    height: 400px;

}

#outer{
    margin-top: 100px;
}