#stat1{
    background-color: #4db8ff;
    height: 130px;
    border-radius: 5%;

}

#trytext{
    color: white;
    font-size: 72px;
    float: right;
    margin-right: 10px;

}

#trytext2{
    color: white;
    float: right;
    font-size: 13px;
}

#icon1{
    color:white;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#main{
    margin-top:-50px;
}