{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link type="text/css" rel = "stylesheet" href="{% static 'css/material.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/animate.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bootstrap.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/temp.css'%}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'javascript/pace.min.js'%}"></script>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bounce.css'%}"/>-->
</head>
<body>

<div class = "jumbotron">
  <form action="/leto/password/" method="post">
  {% csrf_token %}
  {% if messages %}
      {% for message in messages %}
        <div class = "alert alert-danger fade in">
              <a class = "close" data-dismiss="alert">x</a>
              {{ message|safe }}
        </div>
      {% endfor %}
  {% endif %}
  <label for="oldpassword">Current Password</label>
      <div class="controls">
          <input type="password" name="oldpassword" id="oldpassword" placeholder="Password">
      </div>
  <label for="newpassword">New Password</label>
      <div class="controls">
          <input type="password" name="newpassword" id="newpassword" placeholder="Password">
      </div>
  <label for="repassword">Confirm Password</label>
      <div class="controls">
          <input type="password" name="repassword" id="repassword" placeholder="Password">
      </div>
  <button type="submit" data-toggle ="modal" data-target="#myModal">Save changes</button>

</div>
</form>
</body>
</html>