<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
      {% load static %}

      <link type="text/css" rel = "stylesheet" href="{% static 'css/material.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/animate.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bootstrap.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/temp.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/dashboard.css'%}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/e7c771b870.js"></script>
<!--<script type="text/javascript" src="{% static 'javascript/pace.min.js'%}"></script>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bounce.css'%}"/>-->


  </head>
  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Leto Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-right top-nav">
              <li class="dropdown">
                    <a id= "nav1" href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="color:white;">Welcome! {{request.user.email}} </span><i class="fa fa-user"></i>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                          <
                        </li>
                        <li>
                            <a href="{% url 'change_password' %}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-question" aria-hidden="true"></i> Help</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout_user' %}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" id="sidenav01">
              <li>
                <a href="#" data-toggle="collapse" data-target="#toggleDemo1" data-parent="sidenav01" class="collapsed">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                    Auth
                </a>
                <div class="collapse" id="toggleDemo1" style="height: 0px;">
                    <ul id="submenu1" class="nav nav-list">
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Users</a></li>
                        <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Groups</a></li>
                    </ul>
                </div>
              </li>
           <!-- <li id = "profile"><a href="#"><i style="vertical-align: middle;" class="fa fa-user-circle fa-3x" aria-hidden="true"></i>  Profile</a> </li>-->
            <li class="active">
                <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="sidenav01" class="collapsed">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    Runlog
                </a>
                <div class="collapse" id="toggleDemo" style="height: 0px;">
                    <ul id="submenu" class="nav nav-list">
                        <li><a href="{% url 'deploymentinstance' %}"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Deployment Instances</a></li>
                        <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Scripts</a></li>
                        <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i> Slack Bots</a></li>
                    </ul>
                </div>
            </li>

          </ul>
        </div>

        <div id = "main" class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
          <h1>STATISTICS</h1></br>
          <div id = "stats" class = "row">
            <div id = "stat1" class = "col-sm-3">
              <i id = "icon1" class="fa fa-cloud-upload fa-5x" aria-hidden="true"></i><span id = "trytext">{{deployinstcount}}</span></br>
              <span id = "trytext2">Active Deployment Instances</span>
            </div>
          </div>
        </br>
        {% if messages %}
          {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}">
              <a class = "close" data-dismiss="alert">x</a>
              {{ message|safe }}
            </div>
          {% endfor %}
        {% endif %}
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{request.user}}</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 sidebar-nav-fixed pull-right affix">
            <ul class="nav nav-sidebar" id="sidenav02">
                <li>
                  <a href="#">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    Recent Actions
                  </a>
                </li>
            </ul>
        </div>
      </div>
    </div>


  </body>
</html>
