{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel = "stylesheet" href="{% static 'css/material.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/animate.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bootstrap4.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/addinstance.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/temp.css'%}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'javascript/addinstance.js'%}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/e7c771b870.js"></script>
    <script>
        $(document).on('click', '.confirm-delete', function(){
        return confirm('Are you sure you want to delete this?');})
    </script>
<!--<script type="text/javascript" src="{% static 'javascript/pace.min.js'%}"></script>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bounce.css'%}"/>-->
</head>
<body>

<div class = "container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div class = "alert alert-info fade in">
                <a class = "close" data-dismiss="alert">x</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="add">
    <button class = "btn btn-primary" type="submit" style="float:right">Add</button>
    </form>
<table class = "table table-bordered">
    <thead class = "thead-inverse">
        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">DEPLOYMENT_NAME</th>
            <th style="text-align: center">DESCRIPTION</th>
            <th style="text-align: center">CODE_URL</th>
            <th style="text-align: center">STATUS</th>
        </tr>
    </thead>
    {%if all_deployments%}
        {%for deployment in all_deployments %}
            <tr>
                <td align="center">{{ deployment.id }}</td>
                <td align="center">{{ deployment.name }}</td>
                <td align="center">{{ deployment.description }}</td>
                <td align="center">{{ deployment.codeUrl }}</td>
                <td align="center">{{ deployment.status }}</td>
                <td align="center"><a href="/leto/deploymentinstance/edit/{{deployment.id}}">Edit</a>/<a class = "confirm-delete" href="/leto/deploymentinstance/delete/{{deployment.id}}">Delete</a></td>
                <!--Can also use onclick="return confirm('Are you sure you want to delete this?')" along with 'a' tag-->
            </tr>
        {%endfor%}
    {%else%}
            <tr>
                <td colspan="4" align="center">You don't have any data to display</td>
            </tr>
    {%endif%}
</table>
    <a href='#' id = "popup" onclick='overlay()'>Click here to show the overlay</a>
</div>
<div id="overlay">
     <div id = "outer" class = "container-fluid">

    <div id = "addform" class = "jumbotron">
            <h1>Add a new Deployment Instance</h1>
         <form class="form-control" name="add_deploymentinstanceForm" action="/leto/deploymentinstance/add/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Name: </label>
                    <input type="text" id="name" name="name"  placeholder="Name">
            </div>
             <div class="form-group">
                <label>Description: </label>
                    <input type="text" id="description" name="description"  placeholder="Description">
            </div>
             <div class="form-group">
                <label>CodeUrl: </label>
                    <input type="text" id="codeurl" name="codeurl"  placeholder="Codeurl">
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
             Click here to [<a href='#' onclick='overlay()'>close</a>]
         </form>
    </div>
</div>
</div>
</body>
</html>