{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/material.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/animate.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bootstrap.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/temp.css'%}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/e7c771b870.js"></script>
    <!--<script type="text/javascript" src="{% static 'javascript/pace.min.js'%}"></script>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bounce.css'%}"/>-->
</head>
<body>
<div class = "container-fluid">
    <h1>Edit</h1>
    <div class = "jumbotron">
         <form class="form-horizontal" name="add_deploymentinstanceForm" action="/leto/deploymentinstance/edit/{{inst.id}}/" method="post">
            {% csrf_token %}
             {% if messages %}
                {% for message in messages %}
                    <div class = "alert alert-info fade in">
                        <a class = "close" data-dismiss="alert">x</a>
                        {{ message|safe }}
                    </div>
                {% endfor %}
             {% endif %}
             {% if inst %}
            <div class="form-group">
                <label>Name: </label>
                    <input type="text" id="name" name="name"  placeholder="{{inst.name}}">
            </div>
             <div class="form-group">
                <label>Description: </label>
                    <input type="text" id="description" name="description"  placeholder="{{inst.description}}">
            </div>
             <div class="form-group">
                <label>CodeUrl: </label>
                    <input type="text" id="codeurl" name="codeurl"  placeholder="{{inst.codeUrl}}">
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
             {% endif %}
         </form>
    </div>
</div>
</body>
</html>