{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/material.css'%}"/>
    <script type="text/javascript" src="{% static 'javascript/material.js'%}"></script>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/animate.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bootstrap.css'%}"/>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/temp.css'%}"/>
    <!--<script type="text/javascript" src="{% static 'javascript/pace.min.js'%}"></script>
    <link type="text/css" rel = "stylesheet" href="{% static 'css/bounce.css'%}"/>-->
    <title>Title</title>
</head>
<body>
<div class = "container-fluid">
<div class = "jumbotron">
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/leto/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="form-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</body>
</html>